# Dependencies
node_modules/
sanity/node_modules/

# Production build
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
sanity/.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Misc
coverage/